.child{
    position: relative;
    display: inline-block;
    margin-top: 6%;
    left: 42%;
}

#b_eyes {
    position: absolute;
    left:25%;
    top:27%;
    
}

#b_hair {
    position: absolute;
    left: 2%;
    top: -7%;
}

#b_skin {
    position: absolute;
}