//////FEMALE
.parents {
    display: flex;
    
}

.female {
    @include parent(15%);
}

#f_hair {
    position: absolute;
    left: 2.8%;
}

#f_body {
  

}
#f_eyes {
    top: 36%;
    left: 18%;
    position: absolute;
 
}

//////// MALE
.male {
    @include parent(30%);
    width: 27%;
}

#m_hair {
    position: absolute;
    z-index: 3;
    left: 8%;
    top: -2%;
}
#m_eyes {
    position: absolute;
    top: 35%;
    left: 25%;
    z-index: 3;
}
#m_body {
    position: absolute;
    top:72%;
    left: 15%;
    z-index: 1;
    
}
#m_skin {
   position: absolute;
    z-index: 2;
}

