header {
    color: $color_menu;
    background-color: $backgroundColor_nav;
    
}
.nav_a {
    color: $color_menu;
    }
section {
    background-color: $backgroundColor_main;
}
form {
    background-color: $backgroundColor_form;
}
footer {
    background-color: $backgroundColor_nav;
}
.comparison_checked {
     background-color: $backgroundColor_span_checked;
}