@mixin parent ($parent_position) {
    position: relative;
    display: inline-block;
    left: $parent_position;
    cursor: pointer;
}

@mixin formLabel () {
    display: inline-block;
    margin-top: 8%;
    width: 88%;
    margin-left: 5%;
    
}

@mixin formField ($widthForm) {
    margin-top: 5%;
    width: $widthForm;
    float: right;
    padding: 2%;
}  
@mixin button ($button_height, $button_width) {
    width: $button_width;
    height: $button_height;
    display: block;
    float: none;
    background-color: transparent;
      
}